body {
  background: black;
  margin: 0;
  overflow: hidden;
}

img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  opacity: 0;
}

input {
  position: absolute;
  top: 0;
  left: 0;
}
