/* Global / resets */

body {
  background: black;
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

*::selection {
  color: black;
  background-color: white;
}

/* Blurb */

.blurb {
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 100px);
  width: 300px;
  font-size: 12px;
  letter-spacing: 2px;
  transition: opacity 0.1s linear;
}

.blurbTitle {
  font-family: "Nova Cut", cursive;
  font-weight: 700;
  font-size: 19px;
}

.outro {
  text-align: center;
  opacity: 0;
}

/* Image */

.imageContainer {
  position: fixed;
  /*opacity: 0;
  transition: opacity 0.1s;*/
}

.image {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  /*transition: all 0.1s;*/
}

.imageCaption {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 10px;

  background-color: rgb(0, 0, 0, 0.7);
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #666;
  transition: color 0.2s;
}

.imageCaption:hover {
  color: white;
}

/* Controls */

.controls {
  position: fixed;
  margin: 10px;
  padding: 10px;
  background-color: rgb(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.1s linear;
}

.controlsTitle {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  font-family: "Nova Cut", cursive;
}

.control {
  margin-top: 10px;
}

.controlLabel {
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 2px;
}

.slider {
  -webkit-appearance: none;
  margin: 0;
  width: 100px;
  height: 15px;
  background: transparent;
  outline: none;
  border: 1px solid white;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 15px;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 15px;
  background: white;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .controls {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0 10px;
    left: 0;
    right: 0;
  }

  .control {
    margin-top: 0;
    display: flex;
    line-height: 20px;
    margin-right: 10px;
  }

  .controlLabel {
    margin-right: 5px;
  }
}

/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 10px;

  background-color: rgb(0, 0, 0, 0.7);
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footerSeparator {
  margin-left: 4px;
  margin-right: 4px;
  color: #666;
}

.footerSource {
  color: #666;
}

.arrow {
  position: fixed;
}
