/* Global / resets */

:root {
  --main-text-color: rgb(255, 255, 255);
  --secondary-text-color: rgba(255, 255, 255, 0.5);
  --background-text-color: rgba(0, 0, 0, 0.7);
}

body {
  background: rgba(0, 0, 0);
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-text-color);
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

*::selection {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

/* Info / Outro Blurbs */

.blurb {
  --blurb-width: 300px;

  position: absolute;
  left: calc(50% - var(--blurb-width) / 2);
  top: calc(50% - 100px); /* offset the blurb a little */
  width: var(--blurb-width);
  font-size: 12px;
  letter-spacing: 2px;
  transition: opacity 0.1s linear;
}

.blurbTitle {
  font-family: "Nova Cut", cursive;
  font-weight: 700;
  font-size: 19px;
}

.outro {
  text-align: center;
  opacity: 0; /* hidden on initial load, subsequently updated by the app */
}

/* Image */

.imageContainer {
  position: fixed;
}

.image {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.imageCaption {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  background-color: var(--background-text-color);
}

.imageCaptionLink {
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--secondary-text-color);
  transition: color 0.2s;
}

.imageCaptionLink:hover {
  color: var(--main-text-color);
}

@media screen and (max-width: 600px) {
  .imageCaption {
    left: 0;
    margin: 0;
    right: unset;
    bottom: 30px;
  }
}

/* Controls */

.controls {
  position: fixed;
  margin: 10px;
  padding: 10px;
  background-color: var(--background-text-color);
  opacity: 0;
  transition: opacity 0.1s linear;
}

.controlsTitle {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  font-family: "Nova Cut", cursive;
  cursor: pointer;
}

.control {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.controlLabel {
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.slider {
  -webkit-appearance: none;
  margin: 0;
  width: 95px;
  height: 15px;
  background: transparent;
  outline: none;
  border: 1px solid rgb(255, 255, 255);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 15px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 15px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .controls {
    margin: 0;
  }

  .control {
    margin-top: 5px;
    display: flex;
    line-height: 10px;
  }

  .controlLabel {
    margin-right: 5px;
    margin-bottom: 0;
  }
}

/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 10px;

  background-color: var(--background-text-color);
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footerSeparator {
  margin-left: 4px;
  margin-right: 4px;
  color: var(--secondary-text-color);
}

.footerSource {
  color: var(--secondary-text-color);
  transition: color 0.2s;
}

.footerSource:hover {
  color: var(--main-text-color);
}

@media screen and (max-width: 600px) {
  .footer {
    margin: 0;
  }
}

/* Arrow controls */

.arrowControl {
  position: fixed;
  top: calc(50% - 10px);
  background-color: transparent;
  padding: 15px 5px 15px 13px;
  width: 36px;
  height: 52px;
  opacity: 0;
  border: none;
  outline: none;

  transition: background-color 0.5s;
}

.arrowControl--left {
  left: 10px;
}

.arrowControl--right {
  right: 15px;
}

.arrowControl--active {
  cursor: pointer;
}

.arrowControl--active > .arrow {
  border-color: rgb(255, 255, 255);
}

.arrowControl--active:hover > .arrow {
  border-width: 0 3px 3px 0;
}

.arrow {
  border: solid #333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
  position: relative;
}

.arrow--left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow--right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  left: -11px;
  top: -1px;
}
